<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  {% include 'global_header.html' %}
</head>

<body>
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>

  <div id="main-wrapper">

    {% include 'nav_bar.html' %}
    {% include 'sidebar.html' %}

    <div class="page-wrapper">
      <div class="container-fluid">



      </div>

    {% include 'footer.html' %}

    </div>

  </div>

{% include 'includes.html' %}

</body>

</html>
